<!-- The Google Maps portion -->
<div ng-controller="MapCtrl" ng-init="init()">
	<div id="instructions"> Red means no seats, Yellow is some seats, Green is many seats, Gray is N/A</div>

	<div id="map"></div>
	<div id="class" ng-repeat="marker in buildingMarkers | orderBy : 'title'">
		<a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>

		<div id="class" ng-repeat="floorMarker in floorMarkers | orderBy : 'title'">
			<a href="#">{{floorMarker.title}}</a>
		</div>



	</div>

	<div> Don't see the place you're looking for? Click <a href="add-place">here</a> to add your place!</div>

	<button ng-click="createRandomPlace()">Create</button>
	<button ng-click="getAllPlaces()">Get All Places</button>

</div>
