<!-- The Google Maps portion -->
<div ng-controller="MapCtrl" ng-init="init()">
	
	<h4>Guide</h4><div id="instructions">
	Click on the icon to see more information about the place. If the place has multiple floors, the pins will expand to give you more information about each floor.

	The coloring of the title represents different crowdedness. Red means no seats, Orange means there are some seats, Green means there are many seats, and Gray means there are no places to study</div>
	<hr><br>


	<div id="map"></div>

	<br><hr>
	<div> Don't see the place you're looking for? Click <a href="add-place">here</a> to add your place!</div>

	<br><hr>

	<h4>List of Places on the map</h4>

	<div id="class" ng-repeat="marker in buildingMarkers | orderBy : 'title'">
		<h4 href="#" style="cursor:pointer;" ng-hide="showFloor[$index]" ng-click="openInfoWindowAndTriggerDetails($event, marker, $index)">
			<i class="fa fa-long-arrow-down"></i>  {{marker.title}}
		</h4>
		<h4 href="#" style="cursor:pointer;" ng-show="showFloor[$index]" ng-click="openInfoWindowAndTriggerDetails($event, marker, $index)">
			<i class="fa fa-long-arrow-up"></i>  {{marker.title}}
		</h4>
		<div ng-show="showFloor[$index]">
			
			<ul ng-repeat="i in makeRange(marker.basement_floors) track by $index">
				<li style="cursor:pointer;" ng-click="triggerBasementDetails($index)"> {{marker.title}}: Floor {{basementLetters.charAt($index)}} </li>
				<li ng-show="showBasementUpdates[$index]">
					<ul>
						<li><h5> Update Floor Status: </h5></li>
						<button style="cursor:pointer;" ng-click="submit(marker.title, $index, true, 2)"> Crowded </button>
						<button style="cursor:pointer;" ng-click="submit(marker.title, $index, true, 1)"> Somewhat Available</button>
						<button style="cursor:pointer;" ng-click="submit(marker.title, $index, true, 0)"> Available </button>
					</ul>
				</li>

			</ul>

			<ul ng-repeat="i in makeRange(marker.floors) track by $index">
				<li style="cursor:pointer;" ng-click="triggerFloorDetails($index)"> {{marker.title}}: Floor {{$index+1}} </li>
				<li ng-show="showFloorUpdates[$index]">
					<ul>
						<li><h5> Update Floor Status: </h5></li>
						<button style="cursor:pointer;" ng-click="submit(marker.title, $index+1, false, 2)"> Crowded </button>
						<button style="cursor:pointer;" ng-click="submit(marker.title, $index+1, false, 1)"> Somewhat Available</button>
						<button style="cursor:pointer;" ng-click="submit(marker.title, $index+1, false, 0)"> Available </button>
					</ul>
				</li>
			</ul>
			
			<hr>
		</div>
	</div>

	<br>
	<button ng-click="createRandomPlace()">Create</button>
	<button ng-click="getAllPlaces()">Get All Places</button>

</div>
