<header class="sub-header v-padding-medium h-padding-medium">
  <div>
    <div class="ellipsis">
      <a class="h-margin-medium" href="/parties">All Parties</a>
      <a class="h-margin-medium" href="/purchases/all">All Purchases</a>
      <a class="h-margin-medium" href="/purchases/me">My Purchases</a>
      <a class="h-margin-medium" href="/organizations">Organizations</a>

      <input type="search" placeholder="Search" class="inline-block pull-right short quarter no-right-margin search">
      <i class="fa fa-fw fa-search pull-right"></i>
    </div>
  </div>
</header>